@keyframes slide {
    0% {
        ransform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

@keyframes updown {
    0% {
        top: 110%;
    }

    50% {
        top: 0;
    }

    100% {
        top: 110%;
    }
}

@keyframes leftright {
    0% {
        left: 0;
    }

    50% {
        left: 80%;
    }

    100% {
        left: 0;
    }
}

@keyframes vastag {
    0% {
        width: 8vh;
    }

    50% {
        width: 32vh;
    }

    100% {
        width: 8vh;
    }
}

@keyframes forog {
    100% {
        transform: rotate(360deg);
    }
}

html {
    background: radial-gradient(rgb(26, 4, 105), rgb(0, 0, 0));
}

.bubble {
    height: 16vh;
    border-radius: 40%;

    background: radial-gradient(rgb(84, 255, 155), rgb(18, 7, 117));

    position: absolute;
    filter: blur(4vh);
    animation: updown linear 37s infinite,
        leftright ease-in-out 23s infinite,
        vastag linear 29s infinite,
        forog linear 31s infinite;
}

.bubble:nth-child(2) {
    animation: updown ease-in 41s infinite,
        leftright ease-in-out 47s infinite,
        vastag linear 23s infinite,
        forog linear 29s infinite;
}

.bubble:nth-child(3) {
    animation: updown ease-out 43s infinite,
        leftright ease-in-out 53s infinite,
        vastag linear 29s infinite,
        forog linear 31s infinite;
}

.bubble:nth-child(4) {
    animation: updown ease-in-out 47s infinite,
        leftright ease-in-out 59s infinite,
        vastag linear 31s infinite,
        forog linear 41s infinite;
}

.bubble:nth-child(5) {
    animation: updown ease-in-out 29s infinite,
        leftright ease-in-out 31s infinite,
        vastag linear 37s infinite,
        forog linear 47s infinite;
}

.bubble:last-child {
    animation: updown linear 53s infinite,
        leftright ease-in-out 29s infinite,
        vastag linear 19s infinite,
        forog linear 37s infinite;

}
