 body {
  font-family: 'Encode Sans', sans-serif;
 }

 .card{
  height: 100vh;       
}
.data{
  position: absolute;
  top:50%;
  left: 50%;           
  margin-top: -100px;
  margin-left: -100px;
}

 .github {
   padding: 0px 15px 15px 0px;
 }

 .linkedin {
   padding: 0px 15px 15px 0px;
 }

 .whatsapp {
   padding: 0px 15px 15px 0px;
 }

 .email {
   padding: 0px 15px 15px 0px;
 }


 .github:hover {
   opacity: 80%;
   transform: translate(0em, 0.45em);
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
 }

 .whatsapp:hover {
   opacity: 80%;
   transform: translate(0em, 0.45em);
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
 }

 .email:hover {
   opacity: 80%;
   transform: translate(0em, 0.45em);
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
 }

 .linkedin:hover {
   opacity: 80%;
   transform: translate(0em, 0.45em);
   transition: all 175ms cubic-bezier(0, 0, 1, 1);
 }

 .name {
   color: white;
 }

 .description {
   background: linear-gradient(to right, #30CFD0, #c43ad6);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-shadow: 0 0 80px rgb(192 219 255 / 35%), 0 0 32px rgb(65 120 255 / 24%);
 }

