 body {
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Press Start 2P', cursive;
  color: white;
 }

.card{
  display: table;
  height: 220px;  
  margin: 100px auto;
  text-align: center;
  width: 300px;     
}
.data{
  display: table-cell;
  margin: 0;
  padding: 01rem;        
  vertical-align: middle;

}

h1 {
  text-align: justify;
  font-size: 9vw;
}

h3 {
  font-size: 3.0vw;
}

a:link, a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 1.8vmin;
}

a:hover {
  color: #b3ff00
}
 .glitch {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}


@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.social {
  color: #fff;
  text-align: center;
  text-shadow: 0 0 20px #fff, 0 0 30px #4db8ff, 0 0 40px #4dffb5, 0 0 50px #4dff88, 0 0 60px #4d6eff, 0 0 70px #4dffd3, 0 0 80px #ff4da6;
}

